<h1>Want to see global record?</h1>
<button mat-raised-button color="primary" (click)="show()">Click Here</button>
<ng-container *ngIf="appear">
  <mat-list>
    <div mat-subheader>Records</div>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>Total Confirmed: {{global.TotalConfirmed}}</div>
      <div mat-line>Total Deaths: {{global.TotalDeaths}} </div>
      <div mat-line>Total Recovered: {{global.TotalRecovered}}</div>
      <div mat-line>Total New Confirmed: {{global.NewConfirmed}} </div>
    </mat-list-item>
<!--    <mat-divider></mat-divider>-->
<!--    <div mat-subheader>Notes</div>-->
<!--    <mat-list-item>-->
<!--      <mat-icon mat-list-icon>note</mat-icon>-->
<!--      -->
<!--    </mat-list-item>-->
  </mat-list>

</ng-container>
<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Country Name">
    <th mat-header-cell *matHeaderCellDef> Country Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Country}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="New Confirmed">
    <th mat-header-cell *matHeaderCellDef> New Confirmed </th>
    <td mat-cell *matCellDef="let element"> {{element.NewConfirmed}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="New Death">
    <th mat-header-cell *matHeaderCellDef> New Death </th>
    <td mat-cell *matCellDef="let element"> {{element.NewDeaths}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="New Recovered">
    <th mat-header-cell *matHeaderCellDef> New Recovered </th>
    <td mat-cell *matCellDef="let element"> {{element.NewRecovered}} </td>
  </ng-container>

  <ng-container matColumnDef="Total Recovered">
    <th mat-header-cell *matHeaderCellDef> Total Recovered </th>
    <td mat-cell *matCellDef="let element"> {{element.TotalRecovered}} </td>
  </ng-container>

  <ng-container matColumnDef="Total Deaths">
    <th mat-header-cell *matHeaderCellDef> Total Deaths </th>
    <td mat-cell *matCellDef="let element"> {{element.TotalDeaths}} </td>
  </ng-container>

  <ng-container matColumnDef="Total Confirmed">
    <th mat-header-cell *matHeaderCellDef> Total Confirmed </th>
    <td mat-cell *matCellDef="let element"> {{element.TotalConfirmed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
